label,
input {
  @extend .transition;
}

label {
  height: 32px;
  @extend .absolute;
  @extend .t\:0;
  @extend .b\:0;
  @extend .l\:0;
  @extend .w\:full;
}

input {
  height: 36px;
  caret-color: map-get($colors, "blue-dark");
  @extend .w\:full;
  @extend .text\:1;
  @extend .text\:grey;
  @extend .bg\:transparent;
  @extend .border\:b;
  @extend .border\:grey;
  @extend .placeholder\:grey-darker;
  @extend .block;

  &:focus {
    outline: 0;
    @extend .border\:orange;
  }

  &:placeholder-shown + label {
    @extend .max-w\:8\/12;
    @extend .whitespace\:no-wrap;
    @extend .overflow\:hidden;
    text-overflow: ellipsis;
    cursor: text;
    transform-origin: left bottom;
    transform: translate(0, 0.25rem) scale(1);
  }

  &:not(:placeholder-shown) + label,
  &:focus + label {
    transform: translate(0, -1.25rem) scale(1);
    @extend .cursor\:pointer;
  }

  &:focus::-webkit-input-placeholder {
    opacity: 1;
  }
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

// Checkbox
$size: 1.25rem;
input[type="checkbox"] {
  @extend .w\:auto;
  @extend .absolute;
  @extend .opacity\:0;
  & + label {
    min-height: 2rem;
    transform: none;
    @extend .w\:auto;
    @extend .t\:1\/2;
    @extend .relative;
    @extend .inline-block;
    @extend .pl\:2;
    @extend .pr\:0;
    @extend .mr\:1;
    &:before {
      content: "";
      @extend .transition;
      @extend .absolute;
      @extend .z\:10;
      @extend .l\:0;
      @extend .r\:0;
      @extend .t\:0;
      @extend .w\:0;
      @extend .h\:0;
    }
    &:after {
      @extend .rounded;
      @extend .transition;
      @extend .border\:grey-dark;
      @extend .bg\:transparent;
      @extend .border\:1\/8;
      @extend .absolute;
      @extend .l\:0;
      @extend .t\:0;
      @extend .r\:0;
      content: "";
      height: $size;
      width: $size;
    }
  }
  &:checked + label {
    &:before {
      width: calc(0.45 * #{$size});
      height: calc(0.8 * #{$size});
      border-top: 2px solid map-get($colors, "transparent");
      border-left: 2px solid map-get($colors, "transparent");
      border-right: 2px solid map-get($colors, "white");
      border-bottom: 2px solid map-get($colors, "white");
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
    }
    &:after {
      @extend .bg\:grey-dark;
      @extend .border\:grey-dark;
    }
  }
}

select {
  height: 36px;
  @extend .w\:full;
  @extend .border;
  @extend .text\:white;
  @extend .text\:1;
  @extend .bg\:transparent;
  @extend .mt\:1;

  option {
    @extend .text\:white;
    @extend .text\:1;
    @extend .bg\:black;
  }

  & + label {
    transform: translate(0, -1rem) scale(1);
  }
}
