@import "./input.scss";
@import "./transitions.scss";

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Lazy loading
img {
  transition: filter 0.5s;
}
img[lazy="loading"] {
  filter: blur(20px);
}
img[lazy="loaded"] {
  filter: blur(0);
}
