$info-size: 24px;

i.info {
  border-radius: 50%;
  width: $info-size;
  height: $info-size;
  margin: 2px;
  border: 2px solid;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &:after {
    content: "";
    pointer-events: none;
    box-shadow: inset 0 0 0 32px, 0 3px, 0 5px, 0 10px;
    top: 4px;
    width: 2px;
    height: 3px;
    position: absolute;
    left: calc(50% - 1px);
  }
}

$warn-size: 24px;

i.warn {
  @extend .text\:orange;
  width: $warn-size;
  border-bottom: 2px solid;
  border-radius: 0 0 4px 4px;
  margin: 18px 0 0 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &:before,
  &:after {
    content: "";
    pointer-events: none;
  }

  &:before {
    @extend .border\:orange;
    position: absolute;
    width: $warn-size;
    height: $warn-size;
    left: 0;
    top: $warn-size / -2;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-radius: 2px 0;
    transform: rotate(45deg) skew(12deg, 12deg);
  }

  &:after {
    width: 2px;
    height: 3px;
    top: -14px;
    box-shadow: inset 0 0 0 32px, 0 3px, 0 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

i.error {
  @extend .text\:red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 2px;
  border: 2px solid;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transform: rotate(45deg);

  &:before,
  &:after {
    content: "";
    pointer-events: none;
    box-shadow: inset 0 0 0 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    width: 18px;
    height: 2px;
  }

  &:after {
    height: 18px;
    width: 2px;
  }
}

i.settings {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 30px;
  width: 30px;
  margin: 2px;

  &:before,
  &:after {
    content: "";
    pointer-events: none;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  &:before {
    width: 8px;
    height: 7px;
    border-radius: 2px;
    top: 67%;
    box-shadow: inset 0 0 0 32px, 10px -10px, -10px -14px;
  }

  &:after {
    position: absolute;
    width: 2px;
    height: 100%;
    box-shadow: inset 0 0 0 32px, 10px 0, -10px 0;
  }
}
