// Transitions
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// List
.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

// Slide right
.slide\:right-enter-active,
.slide\:right-leave-active {
  transition: all 0.3s;
}
.slide\:right-enter {
  opacity: 0;
  transform: translateX(30px);
}
.slide\:right-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

// Slide down
.slide\:down-enter-active,
.slide\:down-leave-active {
  transition: all 0.3s;
}
.slide\:down-enter,
.slide\:down-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
