@import "~beta-scss/packages/global";

@font-face {
  font-family: "Felona";
  src: url("~fonts/Felona/Felona.woff2") format("woff2");
  font-variation-settings: "wght" 200;
}

:root {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  margin: 0;
}

* {
  font-family: "Felona";

  &:focus {
    outline-color: map-get($colors, "transparent");
  }
  &::selection {
    background-color: map-get($colors, "blue-dark");
    color: map-get($colors, "white");
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: map-get($colors, "blue-dark");
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Lazy loading
img {
  transition: filter 0.5s;
}
img[lazy="loading"] {
  filter: blur(20px);
}
img[lazy="loaded"] {
  filter: blur(0);
}

@import "./form";
@import "./icon";
@import "./transitions";
